@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
}

.main {
    height: 100vh;
    width: 100vw;
}

.logo {
    margin: 1rem;
    height: 3rem;
    width: 8rem;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.illustration {
    margin: 1.5rem 1rem;
    height: 13rem;
    width: 18rem;
}

.heading {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    max-width: 280px;
    font-weight: 800;
    letter-spacing: .7px;
    margin: 1rem 0;
    font-family: Poppins, sans-serif;
}

.para {
    color: rgb(225, 221, 221);
    text-align: center;
    font-size: .8rem;
    line-height: 2;
    font-weight: 400;
    max-width: 280px;
    letter-spacing: .5px;
    font-family: Poppins, sans-serif;
}


.btn {
    margin: 1.3rem;
    padding: .7rem 3.5rem;
    border-radius: 20px;
    background-color: white;
    border: none;
    font-family: Poppins;
    color: hsl(257, 40%, 49%);
    box-shadow: 2px 2px 5px rgb(36, 36, 36);
}


.icon {
    color: white;
    margin: 2rem .5rem;
    padding: .5rem;
}

@media only screen and (min-width: 692px) {
    body {
        background-image: url('images/bg-desktop.svg');
    }

    .content {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 30%;
        color: white;
        text-align: center;
        margin-top: 2rem;
    }

    .illustration {
        height: 20rem;
        width: 25rem;
    }

    .info {
        text-align: left;
        max-width: 300px;
    }

    .btn {
        align-self: flex-start;
        margin: 1rem 0;
    }

    .heading, .para {
        width: 100%;
        max-width: max-content;
        justify-content: flex-start;
        text-align: start;
    }
}

@media only screen and (min-width: 900px) {
    .illustration {
        height: 25rem;
        width: 35rem;
    }

    .info {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1069px) {
    .logo {
        height: 6rem;
        width: 11rem;
    }


    .illustration {
        height: 35rem;
        width: 45rem;
        margin: 0 3rem 0 1rem;
    }

    .content {
        margin-top: 2rem;
    }

    .info {
        margin: 0;
        max-width: 400px;
    }

    .heading {
        font-size: 2rem;
        max-width: 400px;
    }

    .para {
        font-size: 1rem;
        max-width: 600px;
    }
}